<table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre senador</th>
                  <th>Circunscripción</th>
                  <th>Periodo</th>

                </tr>
              </thead>
              <tbody>
              	<%@senadores.each_with_index do| senador, index| %>
                <tr>
                  <td><%=index+1 %></td>
                  <td><%= link_to senador.nombre, senador.link, :target => "_blank" %></td>
                  <td><%= Circunscripcion.find_by_id(senador.circunscripcion_id).nombre %></td>
                   <td><%= senador.anio %> - <%= senador.aniofin %> </td>
                 
                </tr>
               <%end%>
              </tbody>
            </table>