<%= link_to "Politicos", root_path, :class => 'brand' %>

<ul class="nav">
<li><%= link_to "Senadores", senadores_path  %></li>
<li><%= link_to "Diputados", diputados_path  %></li>
<li><%= link_to "Distritos", layersdistritos_path  %></li>
<li><%= link_to "Circunscripciones", layerscircunscripciones_path  %></li>

</ul>